@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', 'Inter', 'system-ui', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  /* Colors */
  --color-primary-500: #1b9876;
  --color-secondary-500: #e3efeb;
  --color-dark-500: #242424;
  --color-dark-400: #696f79;

  /* Spacing */
  --spacing-18: 4.5rem;
  --spacing-88: 22rem;
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  @container (min-width: 640px) {
    .container {
      max-width: 600px;
    }
  }

  @container (min-width: 768px) {
    .container {
      max-width: 740px;
    }
  }

  @container (min-width: 1024px) {
    .container {
      max-width: 990px;
    }
  }

  @container (min-width: 1280px) {
    .container {
      max-width: 1216px;
    }
  }

  @container (min-width: 1536px) {
    .container {
      max-width: 1366px;
    }
  }
}
